!!!
%html
  %head
    %title MySite
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
        = javascript_include_tag 'application', 'data-turbolinks-track' => true
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
        = csrf_meta_tags
  %body
    //navbar   
    .masthead
      %span
        %img{:alt => "Jesse_Robinson", :height => "30", :src => "/assets/Jesse_Robinson.jpg", :width => "30"}
        %h3.text-muted Jesse Robinson
      %nav
        %ul.nav.nav-justified
          %li.active
            = link_to root_path do
              %span.glyphicon.glyphicon-home
          %li
            = link_to portfolios_path do
              Portfolio
          %li
            = link_to resumes_path do
              Resume
          %li
            = link_to abouts_path do
              About
    .container
      .jumbotron
        = yield
        %br
      .row.marketing
        .col-lg-6
          %h4 Portfolio
          %p Check out the Websites ive made
          %h4 Resume
          %p See my qualifications and work history
          %h4 About
          %p learn more about me
        .col-lg-6