!!!
%html
  %head
    %title MySite
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
        = javascript_include_tag 'application', 'data-turbolinks-track' => true
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
        = csrf_meta_tags
  %body
    //navbar   
    .masthead
      %h3.text-muted Jesse Robinson
      %nav
        %ul.nav.nav-justified
          %li.active
            = link_to root_path do
              %span.glyphicon.glyphicon-home
          %li
            = link_to resumes_path do
              Resume
          %li
            = link_to abouts_path do
              About
    .container
      .jumbotron
        = yield
        %br
      .row.marketing
        .col-xs-6.col-sm-5
          =link_to root_path do
            %h4 Portfolio
            %p Check out the Websites ive made
          =link_to resumes_path do
            %h4 Resume
            %p See my qualifications and work history\
          =link_to abouts_path do
            %h4 About
            %p learn more about me
        .col-xs-6.col-sm-4
        .col-xs-6.col-sm-3
          %span.pic
            %img{:alt => "Jesse_Robinson", :height => "150", :src => "/assets/Jesse_Robinson.jpg", :width => "150"}
            %h5.text_muted Jesse Robinson